.dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f9f9f9;
}

.left {
    width: 10%;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ddd;
    gap: 20px;
    position: relative;
}

/* .logo img {
    width: 60%;
    margin-left: 28px;
    margin-bottom: 20px;
} */

.nav {
    width: 100%;
}

/* .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
} */

/* .menu-item {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
    transition: background-color 0.3s ease, color 0.3s ease;
} */

.menu-item:hover {
    background-color: #FF7506;
    color: white;
    /* Chữ trắng khi hover */
}

.menu-item.active {
    background-color: #FF7506;
    color: white;
}

.logout-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #eaaf7c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto;
}

.logout-btn:hover {
    background-color: #d9363e;
}

.middle {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f0f2f5;
}

.middle-container-row {
    display: flex;
    flex-direction: row;
    gap: 14px;
    justify-content: space-between;
}

.middle-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 0px;
    /* min-width: 150px; */
}

.chart-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.chart-header {
    display: flex;
    /* Kích hoạt flexbox */
    align-items: center;
    /* Căn giữa theo trục dọc */
    justify-content: space-between;
    /* Giãn đều hai đầu */
    margin-bottom: 20px;
    /* Khoảng cách dưới header */
}

/* Dropdown chart Start */
.dropdown {
    position: relative;
    /* display: inline-block;
    margin-bottom: 20px; */
}

.dropdown-btn {
    background-color: #FF7506;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

.dropdown-btn:hover {
    background-color: #d95f05;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* border-radius: 5px;
    overflow: hidden; */
}

.dropdown-content p {
    color: #333;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* .dropdown-content p {
    margin: 5px 0;
    cursor: pointer;
    padding: 5px;
} */

.dropdown-content p:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown chart End */

.right {
    width: 20%;
    padding: 20px;
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    /* background-color: #f0f2f5; */
}

/* .circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */

.circle-container {
    display: flex;
    flex-direction: row;
    /* Thay đổi từ column thành row để các phần tử nằm ngang */
    align-items: center;
    /* Căn giữa các phần tử theo chiều dọc */
    background: white;
    /* padding: 10px; */
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.circle-outer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-white {
    width: 85%;
    height: 85%;
    background-color: white;
    /* Tạo vòng tròn trắng ở giữa */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-inner {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #e0e0e0;
}

.circle-white2 {
    width: 85%;
    height: 85%;
    background-color: white;
    /* Tạo vòng tròn trắng ở giữa */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.details {
    text-align: left;
    margin-left: 10px;
}

.details h4 {
    font-size: 18px;
    font-weight: bold;
}

.details p {
    font-size: 14px;
    /* margin: 5px 0; */
    color: #666;
}